extends layout

block content

  h1 Google Maps API
  
  form 
    input(type="text" name="searchQuery" placeholder="Search")
    button(type="submit") Submit
    
  div#map-canvas
  button#toggle-refresh Refresh
  button#toggle-traffic Traffic
  button#toggle-weather Weather
  
    
