doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.0rc1.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC9GosNN_bREBEnaa2uYE29eb-xCqOCg9A&libraries=places')
    script(type='text/javascript', src='javascripts/script.js')
  body
    block content
